// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Variables
@import "variables";

// Neumorphism
@import "neumorphism";

//Fontawesome
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";



body {
    margin: 0;
    font-family: "Nunito Sans",sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #44476a;
    text-align: left;
    background-color: #e6e7ee;
}
.bg-primary {
    background-color: $primary !important;
}
