*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  background: #e8e8e8;
  color: #181818;
}

body.open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
.header__link {
  font-family: 'Space Mono', monospace;
  font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
  color: #181818;
  font-family: 'Roboto Mono', monospace;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #181818;
  font-family: 'Roboto Mono', monospace;
}

button {
  font-family: 'Roboto Mono', monospace;
  padding: 5px 15px;
  color: teal;
  font-size: 24px;
  background: transparent;
  border: 1px solid teal;
  border-radius: 12px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button:hover {
  background: teal;
  color: #fff;
}

ul {
  list-style: none;
}

select {
  outline: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: inherit;
  cursor: pointer;
  font-size: 12px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: inherit;
  margin-left: 20px;
}

select:hover {
  color: #8f8f8f;
}

table {
  border-collapse: collapse;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  margin: 50px auto;
  padding: 0 20px;
}

.main {
  background: url(../img/title.jpg) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 100vh;
}

.main .main__text {
  text-align: center;
  width: 80%;
}

.main .buttons {
  position: relative;
  top: 30%;
  right: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  margin: 0 auto;
  border-radius: 4px;
}

.main .buttons .front__btn {
  color: #ce1d1d;
  border: 1px solid #ce1d1d;
}

.main .buttons:hover {
  background: #ce1d1d;
  color: #fff;
}

.main .buttons .back__btn {
  color: #1d20ca;
  border: 1px solid #1d20ca;
}

.main .buttons:hover {
  background: #1d20ca;
  color: #fff;
}

.tooltip {
  position: fixed;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.images {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  text-align: center;
}

.union__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 66.666%;
}

.ununion__image {
  display: -ms-grid;
  display: grid;
  text-align: center;
}

.image__html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon__text {
  text-align: center;
}

.html__icon,
.css__icon,
.js__icon {
  font-size: 30px;
  cursor: pointer;
  color: #ce1d1d;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.css__icon {
  color: #1d20ca;
}

.js__icon {
  color: #d6d613;
}

.html__icon:hover,
.css__icon:hover,
.js__icon:hover {
  color: #8f8f8f;
}

.html__img {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
}

.html__css {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
  text-align: center;
}

.html__tree {
  display: -ms-grid;
  display: grid;
  padding: 0 10px;
}

.tree-diagram ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  /* Reset */
  list-style-type: none;
  margin: 0;
  padding: 1rem 0.5rem 0rem 0.5rem;
}

.tree-diagram ul ul::before {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  content: '';
  /* Position */
  position: absolute;
  top: 0;
  right: 50%;
  /* Size */
  height: 1rem;
  width: 50%;
}

.tree-diagram li {
  padding: 1rem 0.5rem 0rem 0.5rem;
  position: relative;
  /* Center the content */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tree-diagram li::before {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  height: 1rem;
  width: 50%;
}

.tree-diagram li::after {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

.tree-diagram li:first-child::before,
.tree-diagram li:last-child::after {
  border-top: none;
}

/* Add a root item if you want */
li.tree-diagram__root::before {
  border-right: none;
}

.border {
  border: 2px solid #8f8f8f;
  border-radius: 30px;
  padding: 2px 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.border:hover {
  background-color: #ce1d1d;
  color: #fff;
}
